<main>
    <div class="container">
        <div class="row">
            <section class="col-sm-4 col-sm-offset-2 category">
                <header class="category__header">
                    <h2>Categories</h2>
                </header>

                <ul class="category__list list-unstyled">
                    <li ng-repeat="category in vm.categories">
                        <a ui-sref="category({category: category.categoryName})">{{category.categoryName}}</a>
                    </li>
                </ul>
            </section> <!-- categories -->

            <section class="col-sm-4 col-sm-offset-2 items">
                <header class="items__header">
                    <h2>{{vm.category.categoryName}} Items</h2>
                </header>

                <ul class="items__list list-unstyled">
                    <li ng-repeat="item in vm.items">
                        <a ui-sref="item({category: item.categoryName, item: item.itemName})">
                            {{item.itemName}}
                            <small>{{item.categoryName}}</small>
                        </a>
                    </li>
                </ul>

                <div class="row">
                    <div class="col-sm-4">
                        <a ui-sref="newItem({category: vm.stateParams.category})" class="btn btn-primary">Add Item</a>
                    </div>
                </div>
            </section> <!-- items -->
        </div> <!-- row -->
    </div> <!-- container -->
</main>