<main>
    <div class="container">
        <div class="row">
            <section class="col-sm-6 categories">
                <header class="categories__header">
                    <h2>Categories</h2>
                </header>

                <ul class="categories__list list-unstyled">
                    <li ng-repeat="category in vm.categories">{{category.categoryName}}</li>
                </ul>
            </section> <!-- categories -->

            <section class="col-sm-6 items">
                <header class="items__header">
                    <h2>Items</h2>
                </header>

                <ul class="items__list list-unstyled">
                    <li ng-repeat="item in vm.items">{{item.itemName}} <span>{{item.categoryName}}</span></li>
                </ul>
            </section> <!-- items -->
        </div> <!-- row -->
    </div> <!-- container -->
</main>